@model ITI_Raqmiya_MVC.Models.Order

<h2>Order Details</h2>
<p>Order #: @Model.Id</p>
<p>Status: @Model.PaymentStatus</p>
<p>Product ID: @Model.ProductId</p>
<p>Ordered At: @Model.OrderedAt</p>

@if (User.IsInRole("Admin") || (Model.PaymentStatus == "completed"))
{
    <form asp-action="Cancel" method="post">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-warning">Request Refund</button>
    </form>
}
