@model ITI_Raqmiya_MVC.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastLogin" class="control-label"></label>
                <input asp-for="LastLogin" class="form-control" />
                <span asp-validation-for="LastLogin" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCreator" /> @Html.DisplayNameFor(model => model.IsCreator)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProfileDescription" class="control-label"></label>
                <input asp-for="ProfileDescription" class="form-control" />
                <span asp-validation-for="ProfileDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImageUrl" class="control-label"></label>
                <input asp-for="ProfileImageUrl" class="form-control" />
                <span asp-validation-for="ProfileImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StripeConnectAccountId" class="control-label"></label>
                <input asp-for="StripeConnectAccountId" class="form-control" />
                <span asp-validation-for="StripeConnectAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayoutSettings" class="control-label"></label>
                <input asp-for="PayoutSettings" class="form-control" />
                <span asp-validation-for="PayoutSettings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
