@model ITI_Raqmiya_MVC.Models.User

@{
    ViewBag.Title = "Delete User";
}

<h2>Delete User</h2>

<p>Are you sure you want to delete <strong>@Model.Username</strong>?</p>

@using (Html.BeginForm("Delete", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}
